@import "../theme.scss";


$inputwidth: 50vw;

#converter-component{
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}


#converter-container{
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color:$orange;
  flex-direction: column;
}

#image{
  position:absolute;
  right: 9vw;
  top:18vh;
  height: 250px;
  opacity: 100%;
}


#title{
  font-weight: 400;
  z-index: 2000;
  background-color: $blue;
}

#file-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 2000;
  margin:30px;
  text-align: center;
  padding:0;

    .input-container{
      position:relative;
      display: block;
      background-color: rgb(38, 70, 88);
      border-radius: 6px;
      height: 70px;
      width: $inputwidth;
      box-shadow:  1px 1px 8px 5px rgba(0, 0, 0, 0.068);

      #message-bar{
        top:0;
        left: 0;
        position: absolute;
        margin: 0 auto;
        height: 50px;
        border-radius: 6px;
        height: 70px;
        width: inherit;
        background-color: rgba(0, 0, 0, 0.678);
        text-align: center;
        p{
          font-size: 20px;
        }
      }
    }

    #converter-button{
      margin-top: 60px;
      position:relative;
      display: block;
    }

    #download-button{
      margin-top: 60px;
      position:relative;
      display: block;
      background-color: $orange;
      color:rgb(253, 253, 161);
    }
}

input[type="file"] {
  position: relative;
  outline: none;
  display:flex;
  width: $inputwidth;

  /* File Selector Button Styles */
  &::file-selector-button {
    cursor:pointer;
    background-color:$orange;
    height:70px;
    font-size: 14px;
    width: 150px;
    border:none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color:rgb(253, 253, 161);
    color: transparent;
    padding: auto 0;
    margin-right: 20px;
  }

  &::before {
    padding:1px;
    height:150px;
    position: absolute;
    pointer-events: none;
    top: 14px;
    left: 0px;
    height: 20px;
    width: 20px;
    max-width: 150px;
    content: "";
    white-space: pre;
  }

  &::after {
    padding:1px;
    height:150px;
    position: absolute;
    pointer-events: none;
    top: 16px;
    left: 30px;
    color:rgb(253, 253, 161);
    max-width: 130px;
    text-overflow: clip;
    content: "SELECCIONAR \A ARCHIVO";
    text-align: center;
    white-space: pre;
    font-size: 14px;

  }

  /* Handle Component Focus */
  &:focus-within::file-selector-button,
  &:focus::file-selector-button {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
  }
}

#loading-bar{
  top:0;
  left: 0;
  position: absolute;
  margin: 0 auto;
  height: 50px;
  border-radius: 6px;
  height: 70px;
  width: inherit;
}

span {
  top:0;
  left: 0;
  opacity: 90%;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  background-color: rgb(38, 70, 88);
  overflow: hidden;
}

span:after {
  content: "";
  position: absolute;
  top: 0px; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;

  overflow: hidden;
}

#loading-bar > span:after, .animate > span > span {
  animation: load 1s linear infinite;
}

@keyframes load {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}




@media only screen and (max-width: 1000px) {

  $inputwidth: 100vw;

  #title {
    box-shadow:  1px 1px 8px 5px rgba(0, 0, 0, 0.034);
    padding:5px 10px;
    border-radius: 8px;
    background-color: rgb(35, 57, 77);
  }

  #file-form{
    margin-left:0;
    margin-right:0;

      .input-container{
        width: 95vw;
      }
  }

  input[type="file"] {
    width: 95vw;
  }
}
