@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@100;300;400&display=swap');

/*
  IMPORT FONTS:
    ROBOTO:   font-family: 'Roboto Mono', monospace;
    width:  100, 300, 400

    LEXEND:   font-family: 'Lexend Deca', sans-serif;
    width:  100, 200, 400, 700, 900

    OPEN SANS:  font-family: 'Open Sans', sans-serif;
    width:  300, 400, 500, 600, 700, 800

*/

$opensans: 'Open Sans', sans-serif;
$lexend: 'Lexend Deca', sans-serif;
$roboto: 'Roboto Mono', monospace;



$blue:rgb(34, 53, 71);
$yellow: #ffe57d;
$orange: #fd7a30;
